@charset "utf-8";
.fl {
    float: left;
}

.fr {
    float: right;
}

.about_main2_m {
    display: none;
}

.about_team_main_m {
    display: none;
}

.mheader {
    position: relative;
    height: 60px;
    display: none;
}

.mheader .logo {
    display: inline-block;
    height: 40px;
    padding-top: 10px;
    padding-left: 10px;
    position: relative;
    z-index: 99999;
}

.mheader .logo img {
    display: block;
    height: 100%;
}

.mheader .lang {
    float: right;
    position: absolute;
    right: 60px;
    top: 15px;
    z-index: 1000;
}

.mheader .lang a.cn {
    width: 30px;
    height: 30px;
    border: 1px solid #7c582c;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    color: #7c582c;
    font-size: 13px;
    margin-right: 10px;
}

.mheader .lang a.en {
    width: 30px;
    height: 30px;
    border: 1px solid #7c582c;
    display: inline-block;
    border-radius: 30px;
    text-align: center;
    line-height: 30px;
    text-transform: uppercase;
    color: #7c582c;
    font-size: 13px;
}

.mheader .back {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50px;
    height: 50px;
    text-indent: -9999em;
    background: url(/templets/images/icon-back.png) no-repeat center center;
    background-size: 12px 20px;
}

.mbanner {
    display: none;
}

.mslogan {
    display: none;
}

.picScroll {
    margin: 0px auto;
    text-align: center;
}

.picScroll .bd ul {
    width: 100%;
    float: left;
    padding-top: 10px;
}

.picScroll .bd li {
    width: 33%;
    float: left;
    font-size: 13px;
    text-align: center;
}

.picScroll .bd li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}

.picScroll .bd li img {
    width: 90px;
    height: 142px;
    background: url(/templets/css/images/loading.gif) #fff center center no-repeat;
}


.picScroll .hd {
    position: absolute;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

.picScroll .hd ul {
    float: right;
    padding-top: 16px;
    display: none;
}

.picScroll .hd li {
    float: left;
    width: 8px;
    height: 8px;
    background: #D0D0D0;
    margin: 0 5px;
    overflow: hidden;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.picScroll .hd .on {
    background: #80BD6D;
}

.picScroll .prev, .picScroll .next {
    display: none;
    float: right;
    width: 18px;
    height: 18px;
    background: url(/templets/css/images/pisScrollIcons.gif) -6px -7px no-repeat;
    overflow: hidden;
    margin: 11px 5px 0 5px;
}

.picScroll .next {
    background-position: -34px -7px;
}

.Office_Services_list dl {
    margin-right: 62px;
}

.dl-menuwrapper li.first {
    display: inline-block;
    width: 100%;
}

.dl-menuwrapper li.first a {
    width: 49%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #7d5a30;
    border-top: 0 none;
    border-bottom: 0 none;
}

.dl-menuwrapper li.first a:nth-child(2) {
    width: 49%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dl-menuwrapper li.first::after, .dl-menuwrapper li.first > a:not(:only-child)::after {
    background: #7d5a30;
    content: ''
}

.dl-menuwrapper li.first a:hover {
    background: #7d5a30;
}

/*960-1099*/
@media screen and (min-width: 960px) and (max-width: 1099px) {

}

/*768-959*/
@media screen and (min-width: 768px) and (max-width: 959px) {

}


/*480-767*/
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

/*479*/
@media only screen and (max-width: 479px) {
    .w1080 {
        width: 100%;
    }

    .Office_Services_tit {
        background: url(/templets/img/services_bg.png) no-repeat scroll center center;
        font-size: 26px;
        margin-bottom: 2%;
        /*display: none;*/
    }

    .about_tit {
        background: url(/templets/img/services_bg.png) no-repeat scroll center center;
        font-size: 26px;
        margin-bottom: 2%;
    }

    .about_txt {
        padding: 0 5%;
    }

    .about_map {
        padding: 0 5%;
        margin: 2% 0;
    }

    .about_map img {
        width: 100%;
    }

    .services_main {
        margin-top: 5%;
        padding: 0 5%;
        width: 90%;
    }

    .services_main dl {
        height: auto;
        margin-bottom: 5%;
    }

    .services_main dl dd {
        width: 100%;
        height: 0;
        padding-bottom: 51.85%;
    }

    .services_main dl dd img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .services_main dl dd .txt-two {
        height: 100%;
        padding-top: 0;
    }

    .services_main dl dd .txt-two h3 {
        position: absolute;
        left: 50%;
        margin-left: -80px;
        top: 50%;
        margin-top: -20px;
    }

    .services_main dl dt {
        width: 100%;
    }

    .services_main dl dt h2 {
        padding: 2% 5%;
        margin-top: 5%;
    }

    .services_main dl dt p {
        padding: 2% 5%;
        margin-bottom: 5%;
    }

    .foot_bg {
        height: auto;
        overflow: hidden;
        margin-top: 5%;
    }

    .foot {
        height: auto;
        padding-top: 10%;
    }

    .foot_left {
        width: 100%;
        text-align: center;
    }

    .foot_left img.flogo {
        height: 60px !important;
        position: relative;
        left: -8px;
    }

    .foot_left p {
        display: none;
    }

    .foot_right .foot_ewm {
        display: none;
    }

    .copyright {
        padding-top: 10%;
        margin-bottom: 10%;
    }

    .copyright .dn {
        display: block;
        margin-bottom: 2%;
    }

    .foot_right {
        width: 100%;
        padding-top: 10%;
    }

    .foot_right dl {
        width: 40%;
        padding: 0 5%;
    }

    .header {
        display: none;
    }

    .banner {
        display: none;
    }

    .about_banner {
        background: url(http://www.triumphfamily.com/templets/img/about_banner.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .new_banner_yw {
        font-size: 24px;
    }

    .new_banner_zw {
        font-size: 24px;
        line-height: 200%;
    }

    .page_banner_box {
        padding-top: 16%;
    }


    .about_main {
        margin-top: 10%;
    }

    .about_box1 dt {
        width: 100%;
    }

    .about_box1 dt h2 {
        font-size: 18px;
        padding: 5% 4%;
        line-height: 160%;
    }

    .about_box1 dt p {
        font-size: 13px;
        line-height: 160%;
        padding: 4%;
    }

    .about_box1 dd {
        width: 100%;
    }

    .about_box1 dd img {
        width: 100%;
    }

    .about_box2 {
        padding-top: 5%;
        line-height: 160%;
    }

    .about_box2 h2 {
        font-size: 24px;
        padding: 5% 4%;
        line-height: 160%;
        color: #003e55;
        text-align: center;
    }

    .about_box2 dl {
        width: 92%;
        padding: 0 4%;
    }

    .about_box2 dt {
        width: 100%;
    }

    .about_box2 dt img {
        width: 100%;
    }

    .about_box2 dd {
        width: 100%;
        text-align: center;
        color: #003e55;
    }

    .about_box3 {
        padding: 0 4%;
        line-height: 160%;
        text-align: center;
        color: #003e55;
    }

    .about_box3 p {
        padding-top: 5%;
    }

    .about_main2 {
        display: none;
    }

    .about_main2_m {
        display: block;
        margin-top: 5%;
    }

    .about_main2_m img {
        width: 100%;
    }

    .about_service {
        margin-top: 10%;
        width: 92%;
        padding: 0 4%;
    }

    .about_service_tit {
        text-align: center;
        color: #003e55;
    }

    .about_service_box {
        line-height: 160%;
    }

    .about_service_img {
        padding-top: 10%;
    }

    .about_service_img img {
        width: 100%;
    }

    .about_team {
        margin-top: 10%;
    }

    .about_service_list_mn .list_1mn ul li, .kzjj_main-cen .list_1mn ul li {
        width: 48%;
        margin-right: 4%;
        height: auto;
        box-sizing: border-box;
    }

    .about_service_list_mn .list_1mn ul li:nth-child(2n), .kzjj_main-cen .list_1mn ul li:nth-child(2n) {
        margin-right: 0;
    }

    .about_service_list_mn .list_1mn ul li img, .kzjj_main-cen .list_1mn ul li img {
        width: 100%;
    }

    .about_team_main {
        display: none;
    }

    .about_team_main_m {
        display: block;
        width: 90%;
        overflow: hidden;
        margin: 5% 0;
        padding: 0 5%;
    }

    .about_team_main_m ul {
        width: 100%;
    }

    .about_team_main_m ul li {
        width: 100%;
        float: left;
        margin-bottom: 2%;
    }

    .about_team_main_m ul li .picbox {
        width: 44%;
        position: relative;
        height: 0;
        padding-bottom: 47%;
        float: left;
    }

    .about_team_main_m ul li .picbox img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .about_team_main_m ul li .info {
        float: right;
        width: 54%;
    }

    .about_team_main_m ul li .info h2 {
        width: 100%;
        float: left;
        font-size: 18px;
        color: #003e55;
        font-weight: normal;
    }

    .about_team_main_m ul li .info i {
        width: 100%;
        float: left;
        font-size: 16px;
        color: #003e55;
        line-height: 140%;
        font-style: normal;
    }

    .about_team_main_m ul li .info p {
        width: 100%;
        float: left;
        font-size: 13px;
        color: #555555;
        line-height: 140%;
        width: 100%;
        float: left;
    }


    .mheader {
        display: block;
    }

    .sfo_del_banner {
        background: url(http://www.triumphfamily.com/templets/img/banner_sfo.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .sfo_del_banner .new_banner_yw {
        font-size: 18px;
    }

    .kzjj_main {
        margin-top: 10%;
        width: 94%;
        padding: 0 3%;
    }

    .sfo_main_tittle h2 {
        font-size: 24px;
        text-align: center;
    }

    .sfo_main_tittle p {
        font-size: 13px;
        line-height: 180%;
    }

    .sfo_main_box1 {
        padding-top: 5%;
    }

    .sfo_main_box1 h2 {
        text-align: center;
    }

    .sfo_main_box1 .w584 {
        width: 100%;
    }

    .sfo_main_box1 .w473 {
        width: 100%;
    }

    .sfo_main_box1 .w473 img {
        width: 100%;
    }

    .sfo_main_box1 p {
        padding: 0;
        line-height: 180%;
        padding-top: 3%;
    }

    .sfo_main_box1 p b {
        font-size: 20px;
    }

    .title_kzjj1 h1 span {
        font-size: 13px;
        padding: 2% 0;
        width: 100%;
        display: block;
    }

    .kzjj_main-cen .title_kzjj1 {
        padding-bottom: 5%;
    }

    .kzjj_main-cen .title_kzjj1 img {
        width: 100%;
        padding-top: 5%;
    }


    .jzccgh_banner {
        background: url(http://www.triumphfamily.com/templets/img/jzccgh_banner.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .jzccgh_banner .new_banner_yw {
        font-size: 18px;
    }

    .jzcfgl_top {
        margin-top: 10%;
    }

    .jzcfgl_top .w326 {
        width: 100%;
    }

    .jzcfgl_top .w754 {
        width: 94%;
        padding: 0 3%;
    }

    .jzcfgl_top_icon {
        padding-top: 2%;
    }

    .jzcfgl_top .w326 img {
        width: 30%;
    }

    .jzcfgl_top_box h2 {
        text-align: center;
        padding: 2% 0 0;
        color: #003e55;
    }

    .jzcfgl_top_box p {
        padding-top: 5%;
        line-height: 160%;
        color: #003e55;
    }

    .Importance {
        margin-top: 10%;
    }

    .Importance .im_1 {
        float: none;
        margin: 0 auto;
        margin-bottom: 4%;
    }

    .about_service .sfgh {
        float: left;
        width: 100%;
        text-align: center;
    }

    .about_service .sfgh_pic {
        float: left;
        margin-top: 0;
    }

    .about_service .sfgh_txt {
        float: left;
        line-height: 160%;
        width: 100%;
        padding-top: 3%;
        margin-bottom: 2%;
    }

    .about_service img {
        width: 100%;
        height: auto;
    }

    .about_service .sfgh1 {
        text-align: center;
        width: 100%;
        float: left;
        border-bottom: 0 none;
    }

    .about_service .sfgh span {
        font-size: 16px;
    }

    .about_service .sfgh1 span {
        font-size: 16px;
    }

    .jzcfgl_banner {
        background: url(../img/jzcfgl_banner.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .jzcfgl_banner .new_banner_yw {
        font-size: 18px;
    }

    .jzccgh_del_banner {
        background: url(http://www.triumphfamily.com/templets/img/banner_kzjj.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .jzccgh_del_banner .new_banner_yw {
        font-size: 18px;
    }

    .kzjj_main .w331 {
        max-width: 331px;
        width: 100%;
        float: none;
        margin: 0 auto;
    }

    .kzjj_main .w331 img {
        width: 100%;
    }

    .kzjj_top_box h2 {
        margin-top: 5%;
        text-align: center;
    }

    .kzjj_main .w700 {
        width: 100%;
    }

    .kzjj_top_box p {
        line-height: 180%;
    }

    .kzjj_main .w456 {
        width: 100%;
    }

    .kzjj_main .w553 {
        width: 100%;
    }

    .kzjj_main-cen .title_kzjj1 p {
        padding-top: 5%;
    }

    .jzswfw_banner {
        background: url(../img/decheng/decheng_jzswfw_banner.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .jzswfw_banner .new_banner_yw {
        font-size: 18px;
    }

    .jzyjy_banner {
        background: url(http://www.triumphfamily.com/templets/img/jzyjy_banner.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .jzyjy_banner .new_banner_yw {
        font-size: 18px;
    }

    .jzbgsjs_banner {
        background: url(http://www.triumphfamily.com/templets/img/jzbgsjs_banner.jpg) no-repeat scroll center center / auto 100%;
        padding-bottom: 53.125%;
        height: 0;
    }

    .jzbgsjs_banner .new_banner_yw {
        font-size: 18px;
    }

    .contact_map {
        height: 347px;
    }

    .contact_map iframe {
        height: 347px;
    }

    .w1213 {
        width: 100%;
    }

    .contact_us {
        margin-top: 5%;
        margin-left: 0;
        width: 100%;
    }

    .contact_us h1 {
        text-align: center;
        color: #003e55;
    }

    .contact_us .w600 {
        width: 94%;
        padding: 0 3%;
    }

    .mn1 {
        margin-top: 5%;
    }

    .mn1 .Input1 {
        width: 100%;
        box-sizing: border-box;
    }

    .mn1 .Input2 {
        width: 100%;
        box-sizing: border-box;
    }

    .mn1 .but_ok {
        width: 100%;
        border-radius: 0;
    }

    .contact_us_right {
        width: 94%;
        margin-top: 5%;
        padding: 0 3%;
    }

    .contact_us_right h1 {
        text-align: center;
        color: #003e55;
    }

    .contact_us_right img {
        margin-top: 5%;
        padding-bottom: 5%;
        width: 100%;
    }


    .w1190 {
        width: 100%;
    }

    .jjj .jz_left {
        width: 100%;
        margin-top: 10%;
    }

    .jjj .jz_list {
        text-align: center;
    }

    .jjj .jz_left h1 {
        width: auto;
        text-align: center;
        display: inline-block;
        border-bottom: 0 none;
    }

    .jjj .jz_left ul {
        margin-top: 0%;
        padding: 2% 0;
        border-top: 1px solid #a0a0a0;
        border-bottom: 1px solid #a0a0a0;
        display: none;
    }

    .jjj .jz_left ul li {
        display: inline-block;
    }

    .jjj .jz_right1 {
        margin-top: 5%;
        width: 100%;
    }

    .jjj .jz_right1 .ul_div ul {
        width: 100%;
        border-top: 1px solid #ddd;
        padding-bottom: 0;
        height: auto;
    }

    .jjj .jz_right1 .ul_div ul li {
        border-right: 0 none;
        width: 25%;
        height: auto;
        line-height: auto;
    }

    .jjj .jz_right1 .ul_div ul li a {
        display: inline-block;
        padding: 10px 0;
    }

    .jz_right1 .ul_div ul li .hover {
        font-size: 18px;
        line-height: 30px;
    }

    .jjj .jz_right1 .ul_div ul li a:hover {
        color: #76341c;
        font-size: 18px;
    }

    .jjj .list_mn {
        width: 94%;
        padding: 0 3%;
    }

    .jjj .jz_right1 .list_mn dl {
        float: left;
    }

    .jjj .jz_right1 .list_mn dl dt {
        position: relative;
        width: 32.5%;
        float: left;
        height: 0;
        padding-bottom: 30%;
    }

    .jjj .jz_right1 .list_mn dl dt img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .jjj .jz_right1 .list_mn dl dd {
        width: 65%;
        float: right;
        padding-bottom: 0;
        border-bottom: 0 none;
    }

    .jjj .jz_right1 .list_mn dl dd h1 {
        font-size: 16px;
        line-height: 20px;
        height: 40px;
        overflow: hidden;
        font-weight: normal;
    }

    .jjj .jz_right1 .list_mn dl dd p {
        font-size: 13px;
        color: #4e4e4e;
        line-height: 22px;
        height: 66px;
        overflow: hidden;
        margin-top: 10px;
    }

    .jjj .jz_right1 .list_mn dl dd h2 {
        display: none;
    }

    .page_mn {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }

    .page_mn ul {
        margin: 0 auto;
        display: inline-block;
    }

    .page_mn ul li {
        padding: 3px 6px;
    }

    .jjj .video_list {
        margin-top: 10%;
        width: 94%;
        padding: 0 3%;
    }

    .jjj .video_list h1 {
        text-align: center;
    }

    .jjj .video_list dl {
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        margin-top: 5%;
        margin-right: 0;
    }

    .video_list dl dt {
        width: 100%;
        height: 0;
        padding-bottom: 46.2%;
        position: relative;
    }

    .video_list dl dt img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    .video_list dl dd {
        width: 100%;
    }

    .txt-two1 {
        width: 100%;
        height: 0;
        padding-bottom: 46.2%;
        margin-top: 0;
    }

    .detail_contant {
        padding: 4%;
    }

    .detail_contant .huhu {
        font-size: 20px;
        line-height: 140%;
        padding: 0;
        margin: 4% 0;
    }

    .new_list_detail_box {
        font-size: 13px;
        line-height: 140%;
    }

    .page_next_mn .pull-left, .page_next_mn .pull-right {
        padding: 0;
        font-size: 13px;
        width: 100%;
        text-align: left;
        text-indent: 10px;
        margin-bottom: 10px;
    }

    .office_about .w550 {
        width: 100%;
    }

    .office_about h1 {
        margin-top: 10%;
        text-align: center;
    }

    .office_about {
        width: 94%;
        padding: 0 3%;
    }

    .office_about p {
        line-height: 140%;
    }

    .office_pic1 {
        width: 100%;
        margin-top: 10%;
    }

    .office_main2 {
        display: none;
    }

    .office_main2_m {
        display: block;
        margin-top: 5%;
    }

    .office_main2_m img {
        width: 100%;
    }

    .mbanner {
        display: block;
        position: relative;
        overflow: hidden;
        margin-top: -60px;
        max-width: 640px; /* 设置焦点图最大宽度 */
    }

    .mslogan {
        display: block; /* 设置焦点图最大宽度 */
    }

    .mbannertxt{
        height: 100%;
        overflow: hidden;
    }

    .mbannertxt .mtxt3{
        font-family:"HYRunYuan-65W";
        font-style:italic;
        width:100%;
        height:80px;
        line-height:80px;
        text-align:center;
        font-size:250%;
        color:#f2e2cc;
        background:url(/templets/img/gg_bg.png) repeat;
        display: block;
        position: absolute;
        left: 0px;
        top: 43%;
        opacity: 11;
        filter: alpha(opacity=0);
        /*left: 602px;*/
        /*	top: 407px;*/
    }

    .mw1000px{
        width: 1080px;
        margin:0 auto;
    }

    .mbanner .hd {
        display: none;
        position: absolute;
        height: 28px;
        line-height: 28px;
        bottom: 0;
        right: 0;
        z-index: 1;
    }

    .mbanner .hd li {
        display: inline-block;
        width: 5px;
        height: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        background: #333;
        text-indent: -9999px;
        overflow: hidden;
        margin: 0 6px;
    }

    .mbanner .hd li.on {
        background: #fff;
    }

    .mbanner .bd {
        position: relative;
        z-index: 0;
    }

    .mbanner .bd li {
        position: relative;
        text-align: center;
    }

    .mbanner .bd li img {
        vertical-align: top;
        width: 100%; /* 图片宽度100%，达到自适应效果 */
    }

    .mbanner .bd li a {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    /* 去掉链接触摸高亮 */
    .mbanner .bd li .tit {
        display: block;
        width: 100%;
        position: absolute;
        bottom: 0;
        text-indent: 10px;
        height: 28px;
        line-height: 28px;
        color: #fff;
        text-align: left;
    }

    .mbanner .mbannerfoot {
        width: 81.25%;
        height: 0;
        padding-bottom: 18.125%;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -40.625%;
        background: url(/templets/img/mbannerfoot.png) no-repeat center 0 / 100% 100%;
    }

    .mbanner .mbannerfoot .mbannerfooticon {
        width: 5.769%;
        height: 0;
        padding-bottom: 10%;
        position: absolute;
        left: 50%;
        margin-left: -2.8845%;
        top: 50%;
        margin-top: 0;
        background: url(/templets/img/mbannerfooticon.png) no-repeat center 0 / 100% auto;
    }

    .shiping {
        width: 100%;
    }

    .shiping video {
        width: 100%;
        height: auto;
    }

    .picScroll .prev,
    .picScroll .next {
        display: block;
        float: right;
        width: 18px;
        height: 18px;
        background: url(/templets/css/images/pisScrollIcons.gif) -6px -7px no-repeat;
        overflow: hidden;
        margin: 11px 5px 0 5px;
    }

    .picScroll .next {
        background-position: -34px -7px;
    }

    .picScroll .bd {
        width: 320px;
        float: none;
        margin: 0 auto;
        padding: 0px;
        overflow: hidden;
    }

    .Office_Services {
        overflow: hidden;
        margin-top: 10%;
    }

    .Office_Services_list {
        padding: 0;
    }

    .picScroll .hd ul {
        display: none;
    }

    .picScroll .bd ul {
        width: 320px;
    }

    .picScroll .w1131 {
        width: 100%;
        height: 1214px;
    }

    .Office_Services_list dl {
        /*float: none;*/
        /*margin: 0 auto;*/
        margin-bottom: 30px;
        opacity: 1;
    }

    .login_main {
        padding-top: 38px;
        height: 462px;
    }

    .login_from {
        float: none;
        margin: 0 auto 0;
    }

    .ny_body {
        width: 94%;
        padding: 0 3%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .ny_body .member_left {
        padding: 0;
    }

    .ny_body .member_left h2 {
        width: 100%;
        text-align: center;
    }

    .member_hyzx_tit img {
        max-width: 100%
    }

    .member_left_list_zc label em {
        width: 100%;
        text-align: left;
        margin-bottom: 5px;
        float: left;
    }

    .member_left_list_zc .member_input {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
    }

    .member_left_list_zc span {
        width: 100%;
        float: left;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .ny_body .main_body_left {
        padding-left: 0;
    }

    .ny_body .w680 {
        width: 100%;
    }

    #membercon {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .case-list-wrap ul li {
        display: inline-block;
        width: 100%;
        float: left;
        overflow: hidden;
        margin: 0 0;
        position: relative;
    }

    .thematic-activities-wrap{
        width: 100%;
        margin: 2.6% auto;
        text-align: center;
        padding: 2% 0 0% 0;
    }

    .thematic-activities-wrap ul li {
        display: inline-block;
        width: 100%;
        float: left;
        overflow: hidden;
        margin: 0 5% 5% 0;
        position: relative;
        background-color: #F8F8F8;
    }

    .zczhgl_list1 {
        padding-top: 50px;
        padding-left: 9%;
    }
}
